## Metrics about the system

In [1]:
import pandas as pd

In [4]:
path_articles1_names = f'input/articles1/articles1_title.txt'

titles_articles_it = []
titles_articles_en = []

with open(path_articles1_names, 'r', encoding='utf-8') as f:
    f.readline()
    line = f.readline().strip()
    while line != "#EN":
        titles_articles_it.append(line)
        line = f.readline().strip()
    
    line = f.readline().strip()
    while line:
        titles_articles_en.append(line)
        line = f.readline().strip()

In [6]:
def read_file(path: str): 
    with open(path, 'r', encoding='utf-8') as f:
        lines = f.readlines()
    
    return lines

def rate_results_links(results: list[str], links: list[str]): 
    """ Rate the results of the links.
    
    Args:
        results: list of results
        links: list of links
    Returns:
        rate: rate of the results
    """
    rate = 0
    for result in results:
        if result not in links:
            rate += 1
    
    return rate/len(results)

In [8]:
# Metrics ITA trf

path_results = f'results/extraction_entities_snippet/articles1/trf/it/'
path_links = f'input/articles1/it/links/'

rates_links = []
frequencies = []
for title in titles_articles_it:
    results = read_file(path_results + title + '/entities_founded.txt')
    links = read_file(path_links + title + '_links.txt')
    
    frequencies.append(len(results))
    rate = rate_results_links(results, links)

    rates_links.append(rate)



df = pd.DataFrame({'rate': rates_links, 'frequency': frequencies}, index=titles_articles_it)

#df

In [9]:
df = df.mean()

df

rate          0.554736
frequency    65.680000
dtype: float64

In [10]:
# 1. NO TRF
path_results = f'results/extraction_entities_snippet/articles1/no_trf/it/'

rates_links = []
frequencies = []

for title in titles_articles_it:
    results = read_file(path_results + title + '/entities_founded.txt')
    links = read_file(path_links + title + '_links.txt')
    
    frequencies.append(len(results))
    rate = rate_results_links(results, links)

    rates_links.append(rate)

df = pd.DataFrame({'rate': rates_links, 'frequency': frequencies}, index=titles_articles_it)

df

                          rate  frequency
Torino                0.442244        303
Milano                0.488571        350
Roma                  0.578059        474
Napoli                0.662551        243
Bologna               0.443038        158
Firenze               0.520115        348
Venezia               0.526627        169
Parigi                0.413613        191
Marsiglia             0.660377         53
Lione                 0.581395         43
Berlino               0.543046        151
Amburgo               0.596774         62
Monaco di Baviera     0.434211         76
Francoforte sul Meno  0.407407         27
Lussemburgo (citt√†)   0.478261         23
Madrid                0.613497        163
Barcellona            0.520325        123
Valencia              0.656250         96
Siviglia              0.607843         51
Lisbona               0.532609         92
Londra                0.303030        198
Manchester            0.432432         37
Dublino               0.545455         77
Oslo                  0.437500         16
Stoccolma             0.358974         39
Copenaghen            0.372881         59
Amsterdam             0.446809         47
Bruxelles             0.300000         80
Helsinki              0.454545         22
Tallinn               0.583333         24
Riga                  0.285714         35
Vilnius               0.588235         17
Vienna                0.690476         84
Praga                 0.500000         50
Budapest              0.612500         80
Bucarest              0.565217         46
Sofia                 0.944444         36
Atene                 0.727273         44
Istanbul              0.605634        142
Mosca (Russia)        0.597222         72
San Pietroburgo       0.616667         60
Kiev                  0.681818         22
Minsk                 0.863636         22
New York              0.346154        104
Washington            0.384615         52
Los Angeles           0.507692         65
Chicago               0.567568         37
Toronto               0.463415         41
Montr√©al              0.666667         66
Vancouver             0.533333         45

In [11]:
df.mean()

rate          0.533801
frequency    98.300000
dtype: float64

In [13]:
# Metrics EN

path_results = f'results/extraction_entities_snippet/articles1/trf/en/'
path_links = f'input/articles1/en/links/'

rates_links = []
frequencies = []

for title in titles_articles_en:
    results = read_file(path_results + title + '/entities_founded.txt')
    links = read_file(path_links + title + '_links.txt')

    frequencies.append(len(results))
    rate = rate_results_links(results, links)

    rates_links.append(rate)


df = pd.DataFrame({'rate': rates_links, 'frequencies': frequencies}, index=titles_articles_en)

df

                      rate  frequencies
Turin             0.823864          176
Milan             0.487500           80
Rome              0.426829          164
Naples            0.527778           72
Bologna           0.548387           31
Florence          0.548387           93
Venice            0.543478           46
Paris             0.347150          193
Marseille         0.693069          101
Lyon              0.587629           97
Berlin            0.470588          119
Hamburg           0.500000           64
Munich            0.604478          134
Frankfurt         0.682353          170
Luxembourg City   0.642857           28
Madrid            0.509259          108
Barcelona         0.390476          105
Valencia          0.661972           71
Seville           0.718310           71
Lisbon            0.492754           69
London            0.348571          175
Manchester        0.511905           84
Dublin            0.476190          126
Oslo              0.360000           50
Stockholm         0.313725           51
Copenhagen        0.369565           92
Amsterdam         0.538462          117
Brussels          0.707965          113
Helsinki          0.366667           60
Tallinn           0.437500           32
Riga              0.714286           28
Vilnius           0.596154           52
Vienna            0.600000           80
Prague            0.492308           65
Budapest          0.560000           75
Bucharest         0.365854           41
Sofia             0.470588           34
Athens            0.625000           64
Istanbul          0.369369          111
Moscow            0.612613          111
Saint Petersburg  0.488372           86
Kyiv              0.710526           38
Minsk             0.444444            9
New York City     0.367232          177
Washington        1.000000            6
Los Angeles       0.482456          114
Chicago           0.629310          116
Toronto           0.439490          157
Montreal          0.604651           86
Vancouver         0.479167           96

In [14]:
df.mean()

rate            0.53379
frequencies    88.76000
dtype: float64

In [15]:
# 1. NO TRF

path_results = f'results/extraction_entities_snippet/articles1/no_trf/en/'

rates_links = []
frequencies = []

for title in titles_articles_en:
    results = read_file(path_results + title + '/entities_founded.txt')
    links = read_file(path_links + title + '_links.txt')

    frequencies.append(len(results))
    rate = rate_results_links(results, links)

    rates_links.append(rate)
    
df = pd.DataFrame({'rate': rates_links, 'frequency': frequencies}, index=titles_articles_it)

#df

In [16]:
df.mean()

rate          0.493498
frequency    29.420000
dtype: float64