### Evaluation and metrics

In [1]:
import pandas as pd

In [2]:
path_articles1_names = f'input/articles1/articles1_title.txt'

titles_articles_it = []
titles_articles_en = []

with open(path_articles1_names, 'r', encoding='utf-8') as f:
    f.readline()
    line = f.readline().strip()
    while line != "#EN":
        titles_articles_it.append(line)
        line = f.readline().strip()
    
    line = f.readline().strip()
    while line:
        titles_articles_en.append(line)
        line = f.readline().strip()

In [3]:
def read_file(path: str): 
    with open(path, 'r', encoding='utf-8') as f:
        lines = f.readlines()
    
    return lines

def rate_results_links(results: list[str], links: list[str]): 
    """ Rate the results of the links.
    
    Args:
        results: list of results
        links: list of links
    Returns:
        rate: rate of the results
    """
    rate = 0
    for result in results:
        if result not in links:
            rate += 1
    
    return rate/len(results)

In [4]:
# Metrics ITA trf

path_results = f'results/extraction_entities_snippet/articles1/trf/it/'
path_links = f'input/articles1/it/links/'

rates_links = []
rates_founded = []
frequencies = []

for title in titles_articles_it:
    results = read_file(path_results + title + '/entities_founded.txt')
    links = read_file(path_links + title + '_links.txt')
    entities = read_file(path_results + title + '/' + title + '_entities.txt')
    
    frequencies.append(len(results))
    rate = rate_results_links(results, links)
    rate_founded = len(results)/len(entities)

    rates_links.append(rate)
    rates_founded.append(rate_founded)


df = pd.DataFrame({'rate': rates_links, 'frequency': frequencies, 'rate founded': rates_founded}, index=titles_articles_it)

#df

In [5]:
df = df.mean()

df

rate             0.542434
frequency       56.160000
rate founded     0.418304
dtype: float64

In [6]:
# 1. NO TRF
path_results = f'results/extraction_entities_snippet/articles1/no_trf/it/'

rates_links = []
frequencies = []
rates_founded = []

for title in titles_articles_it:
    results = read_file(path_results + title + '/entities_founded.txt')
    links = read_file(path_links + title + '_links.txt')
    entities = read_file(path_results + title + '/' + title + '_entities.txt')

    frequencies.append(len(results))
    rate = rate_results_links(results, links)
    rate_founded = len(results)/len(entities)

    rates_links.append(rate)
    rates_founded.append(rate_founded)

df = pd.DataFrame({'rate': rates_links, 'frequency': frequencies, 'rates_founded': rates_founded}, index=titles_articles_it)

df

                          rate  frequency  rates_founded
Torino                0.442244        303       0.609658
Milano                0.488571        350       0.648148
Roma                  0.578059        474       0.753577
Napoli                0.662551        243       0.612091
Bologna               0.443038        158       0.483180
Firenze               0.520115        348       0.580968
Venezia               0.526627        169       0.526480
Parigi                0.413613        191       0.514825
Marsiglia             0.660377         53       0.311765
Lione                 0.581395         43       0.260606
Berlino               0.543046        151       0.510135
Amburgo               0.596774         62       0.369048
Monaco di Baviera     0.434211         76       0.393782
Francoforte sul Meno  0.407407         27       0.300000
Lussemburgo (citt√†)   0.478261         23       0.425926
Madrid                0.613497        163       0.659919
Barcellona            0.520325        123       0.521186
Valencia              0.656250         96       0.564706
Siviglia              0.607843         51       0.408000
Lisbona               0.532609         92       0.585987
Londra                0.303030        198       0.664430
Manchester            0.432432         37       0.627119
Dublino               0.545455         77       0.601562
Oslo                  0.437500         16       0.205128
Stoccolma             0.358974         39       0.293233
Copenaghen            0.372881         59       0.412587
Amsterdam             0.446809         47       0.356061
Bruxelles             0.300000         80       0.470588
Helsinki              0.454545         22       0.318841
Tallinn               0.583333         24       0.303797
Riga                  0.285714         35       0.353535
Vilnius               0.588235         17       0.293103
Vienna                0.690476         84       0.398104
Praga                 0.500000         50       0.434783
Budapest              0.612500         80       0.398010
Bucarest              0.565217         46       0.377049
Sofia                 0.944444         36       0.444444
Atene                 0.727273         44       0.295302
Istanbul              0.605634        142       0.425150
Mosca (Russia)        0.597222         72       0.261818
San Pietroburgo       0.616667         60       0.298507
Kiev                  0.681818         22       0.222222
Minsk                 0.863636         22       0.231579
New York              0.346154        104       0.522613
Washington            0.384615         52       0.426230
Los Angeles           0.507692         65       0.619048
Chicago               0.567568         37       0.406593
Toronto               0.463415         41       0.460674
Montr√©al              0.666667         66       0.455172
Vancouver             0.533333         45       0.523256

In [7]:
df.mean()

rate              0.533801
frequency        98.300000
rates_founded     0.442811
dtype: float64

In [8]:
# Metrics EN

path_results = f'results/extraction_entities_snippet/articles1/trf/en/'
path_links = f'input/articles1/en/links/'

rates_links = []
frequencies = []
rates_founded = []

for title in titles_articles_en:
    results = read_file(path_results + title + '/entities_founded.txt')
    links = read_file(path_links + title + '_links.txt')
    entities = read_file(path_results + title + '/' + title + '_entities.txt')

    frequencies.append(len(results))
    rate = rate_results_links(results, links)
    rate_founded = len(results)/len(entities)

    rates_links.append(rate)
    rates_founded.append(rate_founded)


df = pd.DataFrame({'rate': rates_links, 'frequencies': frequencies, 'rates_founded': rates_founded}, index=titles_articles_en)

df

                      rate  frequencies  rates_founded
Turin             0.816456          158       0.637097
Milan             0.424242           66       0.616822
Rome              0.358209          134       0.676768
Naples            0.524590           61       0.530435
Bologna           0.500000           28       0.595745
Florence          0.506667           75       0.604839
Venice            0.487179           39       0.453488
Paris             0.300613          163       0.612782
Marseille         0.707865           89       0.664179
Lyon              0.550000           80       0.645161
Berlin            0.415842          101       0.687075
Hamburg           0.500000           52       0.490566
Munich            0.567797          118       0.564593
Frankfurt         0.687500          144       0.507042
Luxembourg City   0.615385           26       0.500000
Madrid            0.471910           89       0.517442
Barcelona         0.404494           89       0.609589
Valencia          0.633333           60       0.576923
Seville           0.716981           53       0.449153
Lisbon            0.491525           59       0.595960
London            0.287582          153       0.784615
Manchester        0.441176           68       0.635514
Dublin            0.431193          109       0.741497
Oslo              0.341463           41       0.465909
Stockholm         0.282609           46       0.589744
Copenhagen        0.302632           76       0.490323
Amsterdam         0.489796           98       0.636364
Brussels          0.714286           98       0.535519
Helsinki          0.363636           55       0.555556
Tallinn           0.440000           25       0.396825
Riga              0.681818           22       0.400000
Vilnius           0.595238           42       0.278146
Vienna            0.583333           72       0.631579
Prague            0.508772           57       0.459677
Budapest          0.508197           61       0.369697
Bucharest         0.378378           37       0.321739
Sofia             0.444444           27       0.415385
Athens            0.613636           44       0.354839
Istanbul          0.340426           94       0.559524
Moscow            0.568182           88       0.391111
Saint Petersburg  0.428571           70       0.424242
Kyiv              0.709677           31       0.418919
Minsk             0.285714            7       0.140000
New York City     0.333333          138       0.644860
Washington        1.000000            5       0.277778
Los Angeles       0.470588          102       0.744526
Chicago           0.626374           91       0.587097
Toronto           0.383459          133       0.668342
Montreal          0.569231           65       0.451389
Vancouver         0.493827           81       0.595588

In [9]:
df.mean()

rate              0.505963
frequencies      74.400000
rates_founded     0.530039
dtype: float64

In [10]:
# 1. NO TRF

path_results = f'results/extraction_entities_snippet/articles1/no_trf/en/'

rates_links = []
frequencies = []
rates_founded = []

for title in titles_articles_en:
    results = read_file(path_results + title + '/entities_founded.txt')
    links = read_file(path_links + title + '_links.txt')
    entities = read_file(path_results + title + '/' + title + '_entities.txt')

    frequencies.append(len(results))
    rate = rate_results_links(results, links)
    rate_founded = len(results)/len(entities)

    rates_links.append(rate)
    rates_founded.append(rate_founded)
    
df = pd.DataFrame({'rate': rates_links, 'frequency': frequencies, 'rates_founded': rates_founded}, index=titles_articles_en)

#df

In [11]:
df.mean()

rate              0.493498
frequency        29.420000
rates_founded     0.429535
dtype: float64