## Metrics about the system

In [1]:
import pandas as pd

In [2]:

path_articles1_names = f'input/articles1/articles1_names.txt'

titles_articles_it = []
titles_articles_en = []

with open(path_articles1_names, 'r', encoding='utf-8') as f:
    f.readline()
    line = f.readline().strip()
    while line != "#EN":
        titles_articles_it.append(line)
        line = f.readline().strip()
    
    line = f.readline().strip()
    while line:
        titles_articles_en.append(line)
        line = f.readline().strip()

In [3]:
def read_file(path: str): 
    with open(path, 'r', encoding='utf-8') as f:
        lines = f.readlines()
    
    return lines

def rate_results_links(results: list[str], links: list[str]): 
    """ Rate the results of the links.
    
    Args:
        results: list of results
        links: list of links
    Returns:
        rate: rate of the results
    """
    rate = 0
    for result in results:
        if result not in links:
            rate += 1
    
    return rate/len(results)

In [4]:
# Metrics ITA

path_results = f'results/extraction_entities_snippet/articles1/it/'
path_links = f'input/articles1/it/links/'

rates_links = []
frequencies = []
for title in titles_articles_it:
    results = read_file(path_results + title + '/entities_founded.txt')
    links = read_file(path_links + title + '_links.txt')
    
    frequencies.append(len(results))
    rate = rate_results_links(results, links)

    rates_links.append(rate)



df = pd.DataFrame({'rate': rates_links, 'frequency': frequencies}, index=titles_articles_it)

df

                          rate  frequency
Torino                0.600000        215
Milano                0.609442        233
Roma                  0.611621        327
Napoli                0.750000        148
Bologna               0.564885        131
Firenze               0.521452        303
Venezia               0.596330        109
Parigi                0.464286        196
Marsiglia             0.702703         37
Lione                 0.640000         25
Berlino               0.560000        100
Amburgo               0.540541         37
Monaco di Baviera     0.402778         72
Francoforte sul Meno  0.454545         22
Lussemburgo (città)   0.538462         13
Madrid                0.469136         81
Barcellona            0.490196        102
Valencia              0.666667         48
Siviglia              0.627907         43
Lisbona               0.419355         62
Londra                0.361111        144
Manchester            0.424242         33
Dublino               0.555556         54
Oslo                  0.625000          8
Stoccolma             0.526316         19
Copenaghen            0.476190         21
Amsterdam             0.500000         38
Bruxelles             0.478261         23
Helsinki              0.222222          9
Tallinn               0.800000         10
Riga                  0.666667         12
Vilnius               0.000000          3
Vienna                0.480000         50
Praga                 0.550000         20
Budapest              0.677966         59
Bucarest              0.722222         18
Sofia                 0.833333          6
Atene                 0.600000         20
Istanbul              0.711864         59
Mosca (Russia)        0.530612         49
San Pietroburgo       0.711111         45
Kiev                  0.555556         18
Minsk                 1.000000          2
New York              0.350000         60
Washington            0.531915         47
Los Angeles           0.314286         35
Chicago               0.717949         39
Toronto               0.457143         35
Montréal              0.555556          9
Vancouver             0.571429         35

In [5]:
df = df.mean()

df

rate          0.554736
frequency    65.680000
dtype: float64

In [13]:
# Metrics EN

path_results = f'results/extraction_entities_snippet/articles1/en/'
path_links = f'input/articles1/en/links/'

rates_links = []
frequencies = []

for title in titles_articles_en:
    results = read_file(path_results + title + '/entities_founded.txt')
    links = read_file(path_links + title + '_links.txt')

    frequencies.append(len(results))
    rate = rate_results_links(results, links)

    rates_links.append(rate)


df = pd.DataFrame({'rate': rates_links, 'frequencies': frequencies}, index=titles_articles_en)

df

                      rate  frequencies
Turin             0.823864          176
Milan             0.487500           80
Rome              0.426829          164
Naples            0.527778           72
Bologna           0.548387           31
Florence          0.548387           93
Venice            0.543478           46
Paris             0.347150          193
Marseille         0.693069          101
Lyon              0.587629           97
Berlin            0.470588          119
Hamburg           0.500000           64
Munich            0.604478          134
Frankfurt         0.682353          170
Luxembourg City   0.642857           28
Madrid            0.509259          108
Barcelona         0.390476          105
Valencia          0.661972           71
Seville           0.718310           71
Lisbon            0.492754           69
London            0.348571          175
Manchester        0.511905           84
Dublin            0.476190          126
Oslo              0.360000           50
Stockholm         0.313725           51
Copenhagen        0.369565           92
Amsterdam         0.538462          117
Brussels          0.707965          113
Helsinki          0.366667           60
Tallinn           0.437500           32
Riga              0.714286           28
Vilnius           0.596154           52
Vienna            0.600000           80
Prague            0.492308           65
Budapest          0.560000           75
Bucharest         0.365854           41
Sofia             0.470588           34
Athens            0.625000           64
Istanbul          0.369369          111
Moscow            0.612613          111
Saint Petersburg  0.488372           86
Kyiv              0.710526           38
Minsk             0.444444            9
New York City     0.367232          177
Washington        1.000000            6
Los Angeles       0.482456          114
Chicago           0.629310          116
Toronto           0.439490          157
Montreal          0.604651           86
Vancouver         0.479167           96

In [14]:
df.mean()

rate            0.53379
frequencies    88.76000
dtype: float64